html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}
.main{
    max-width: 800px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.header{
    background-color: ghostwhite;
}

/*




.category-menu li{
    width: 110px;

}
*/
.category-menu a{
    color: #709fab;
}
.category-menu .active a{
    color: white;
    background-color: #f2683b !important;
}
.category-menu .active img{
    background-color: transparent;
}
.category-menu a:hover{
    color: white;
    background-color: #f2683b !important;
}
.category-menu{
    white-space: nowrap;
    margin-left: -35px;
}
.category-menu img{
    width: 25px;
    margin-right: 3px;
    background-color: #709fab;
    padding: 5px;
}
.category-menu li:hover img{
    background-color: transparent;
}

.event{
    font-family: "Roboto";
    /*border: solid 1px lightgrey;*/
    margin: 0 0 30px 0;
    /*padding: 10px;*/
}
.event-header{
    border-bottom: 4px solid #709fab;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: -5px;
    color: #27576a;
    display: table;
    width: 100%;
}
.event-header>div{
    /*display: table-row;
    vertical-align: middle;
    height: 3.5em;
    line-height: 2.5em;*/
}
.event-day{
    font-size: 25pt;
    text-align: left;
    padding-left: 0;
}
.event-time{
    font-size: 24pt;
    text-align: left;
}
.event-weekDay{
    color: #709fab;
    padding-left: 0;
}
.event-mounth{
    padding-left: 0;
    line-height: 1em;
    padding-top: 7px;
}
.event-category{
    font-size: 12pt;
    line-height: 2.9em;
    text-align: right;
    padding: 0 10px 0 0;
    color: #709fab;
}
.event-category a{
    color: #709fab;
}
.catImg{
    /*background-color: #709fab;*/
}
.catImg img{
    /*width: 45px;
    margin-left: -7px;*/
}
.catImg{
    background-color: #709fab;
    font-size: 16pt;
    line-height: 2.23em;
    text-align: center;
    padding: 0;
}
.ageLimit{
    background-color: #27576a;
    color: white;
    font-size: 16pt;
    line-height: 2.23em;
    text-align: center;
    padding: 0;
}
.event-image img{
    width: 158px;
    height: 224px;
    margin-left: -15px;
}
.event-content{
    margin: 0;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    color: #27576a;
}
.event-name,.event-preview,.event-company,.event-price{
    /*border-left: 1px solid lightgrey;*/
}
.event-company,.event-price{
    font-size: 12pt;
}
.event-company{
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-top: 6px;
    padding-bottom: 6px;
}
.event-price{
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-top: 6px;
    padding-bottom: 5px;
}
.event-countLeft{
    border-top: 1px solid lightgrey;
    /*border-left: 1px solid lightgrey;*/
    font-size: 12pt;
    text-align: center;
    padding-top: 20px;
}
.event-countLeft>span{
    font-size: 18pt;
}
.event-content-text{
    display: table;
}
.event-about{
    height: 9em;
}
.event-name{
    font-size: 18pt;
}
.event-name a{
    color: #27576a;
}
.event-preview{
    color: grey;
    font-size: 11pt;
}
.event-footer{
    background-color: #27576a;
    margin: 0;
    color: #709fab;
    text-align: center;
    display: table;
    width: 100%;
}
.event-footer>div{
    padding: 5px 0;
    display: table-row;
    vertical-align: middle;
    height: 3.5em;
    line-height: 2.6em;
    border-right: 1px solid lightgrey;
}
.countDown{
    color: #f2683b;
    line-height: 1.5em !important;
}
.countDown i{
    color: #709fab;
}
.event-sale-ticket{
    border: 0;
    /*position: absolute;
    right: 0;
    top: 0;
    bottom: 0;*/
}
.event-sale-ticket:hover {
    background-color: #f2683b;
    color: white;
}
.event-sale-ticket a{
    display: block;
    text-decoration: none;
    color: #709fab;
}
.event-sale-ticket a:hover{
    color: white;
}
.event-description{
    /*background-color: ghostwhite;
    border: 1px solid lightgrey;*/
    padding: 0;
    margin: 20px 0;
    font-family: Roboto;
}
.carousel{
    height: 200px;
}
.event-video, .event-images{

}
/*.gallery-item{
    overflow-y: hidden;
    white-space: nowrap;
}*/
.gallery-item img{
    display: block;
    /*width: 105px;*/
    height: 200px;
    object-fit: cover;
    float: left;
}

.sale-price, .sale-ticket, .sale-qty, .sale-sum, .sale-ytype, .sale-phone{
    margin: 15px 0;
}
#sum-value{
    font-weight: bold;
}
.sale-error{
    font-size: 9pt;
    color: red;
    padding-left: 10px;
}